*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/pewpew/Library/FailedAssetImports.txt
/pewpew/Library/cache/
/pewpew/Library/previews/
/pewpew/Library/ScriptAssemblies
/pewpew/obj
/pewpew/Temp
/pewpew/Library/guidmapper
/pewpew/Library/assetDatabase3
/pewpew/Library/InspectorExpandedItems
/pewpew/Library/CurrentLayout.dwlt
