# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp
*.csproj
*.pidb
*.sln
pewpew/Library/AssetImportState
pewpew/Library/AssetServerCacheV3
pewpew/Library/FailedAssetImports.txt
pewpew/Library/ScriptAssemblies
pewpew/Library/ScriptMapper
pewpew/Library/assetDatabase3
pewpew/Library/cache
pewpew/Library/expandedItems
pewpew/Library/metadata
pewpew/Library/previews
pewpew/Library/guidmapper

pewpew/.DS_Store

PewPew2DBaseProject/AssetImportState
PewPew2DBaseProject/Library/AssetServerCacheV3
PewPew2DBaseProject/Library/FailedAssetImports.txt
PewPew2DBaseProject/Library/ScriptAssemblies
PewPew2DBaseProject/Library/ScriptMapper
PewPew2DBaseProject/Library/assetDatabase3
PewPew2DBaseProject/Library/cache
PewPew2DBaseProject/Library/expandedItems
PewPew2DBaseProject/Library/previews
PewPew2DBaseProject/Library/guidmapper

PewPew2DBaseProject/.DS_Store
